{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": [1, { "varsIgnorePattern": "Taro" }],
    "semi": ["error", "always"],
    "no-var": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "import/prefer-default-export":0
  },
    "parser": "babel-eslint"
}
