{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": [1, { "varsIgnorePattern": "Taro" }],
    "semi": ["error", "always"],
    "no-var": "error",
    "prefer-const": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "import/prefer-default-export":0,
    "quotes": [1, "single"],
    "semi-spacing": [0, {"before": false, "after": true}],
    "key-spacing": [1, { "beforeColon": false, "afterColon": true }]
  },
    "parser": "babel-eslint"
}
