.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .img{
    width: 200px;
    height: 150px;
  }
  .text{
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
    color: #999;
  }
}